{% for int in interface_list %}
{% if interfaces[int].enable_dhcpd is defined and interfaces[int].enable_dhcpd %}
subnet {{ networks[interfaces[int].network].subnet | ipaddr('network') }} netmask {{ networks[interfaces[int].network].subnet | ipaddr('netmask') }}
{
  range {{networks[interfaces[int].network].dhcp_range[0] }} {{networks[interfaces[int].network].dhcp_range[1] }};
  option routers {{networks[interfaces[int].network].gateway }};
  option domain-name-servers {{networks[interfaces[int].network].nameserver }};
}
{% endif %}
{% endfor %}
