# {{ networks[ interfaces[item].network].description}}
{% if interfaces[item].ip == 'dhcp' %}
dhcp
{% else %}
inet {{ interfaces[item].ip | ipaddr('address') }} {{ networks[interfaces[item].network].subnet | ipaddr('netmask') }}
{% endif %}
