# external interface
if_uplink = "{{ interface_uplink }}"

# management interface
{% if interface_mgnt is defined %}
if_mgnt = "{{ interface_mgnt }}"
ip_mgnt = "{{ interfaces[interface_mgnt]["ip"]}}"
{% else %}
# no interface defined
{% endif %}

# internal
{% for iface in interface_list %}
if_{{ interfaces[iface]["network"]}} = "{{ iface }}"
{% endfor %}
wired = "{{ interface_list | join(' ') }}"
wifi  = ""

{% for iface in interface_list %}
ip_{{ interfaces[iface]["network"]}} = "{{ interfaces[iface]["ip"]}}"
{% endfor %}

table <martians> { 0.0.0.0/8 127.0.0.0/8 169.254.0.0/16     \
       192.0.0.0/24 192.0.2.0/24 \
	 	   198.18.0.0/15 198.51.100.0/24 203.0.113.0/24 }

# notice.
# we allow rfc918 ip adressses as martians
#    10.0.0.0/8 172.16.0.0/12 192.168.0.0/16
# we allow multicast as martians
#   224.0.0.0/3 (for ospf reasons)

set block-policy drop
set loginterface egress
set skip on lo0

match in all scrub (no-df random-id max-mss 1440)

{% if router_enable_nat %}
match out on egress inet from !(egress:network) to any nat-to (egress:0)
{% endif %}

antispoof quick for { egress $wired $wifi }

block in quick on egress from <martians> to any
block return out quick on egress from any to <martians>

block all
pass out quick inet
pass in on { $wired $wifi } inet

{% if router_enable_ospf %}
pass on egress inet proto ospf
{% endif %}

# ssh rules
{% if router_allow_ssh_from_uplink %}
pass in quick on egress inet proto tcp from any to (egress) port 22
{% else %}
# not allowing ssh from uplink
{% endif %}
{% if interface_mgnt is defined %}
pass in quick on $if_mgnt inet proto tcp from any to ($if_mgnt) port 22
{% else %}
# no management interface defined.
{% endif %}

{% if not router_allow_dns_to_uplink %}
block return inet proto { tcp udp } to any port 53
pass  in quick on { $wired $wifi } inet proto { tcp udp }  \
      to { {%- for iface in interface_list %} $ip_{{ interfaces[iface]["network"]}} {% endfor %} } port 53
{% endif %}


# pass in on egress inet proto tcp from any to (egress) port { 80 443 } rdr-to 192.168.1.2
